body {
    background-color: rgb(138, 20, 39);
}

h1 {
    color: rgb(248, 245, 248);
}

p {
    color: rgb(233, 227, 228);
}

a:link {
    color: rgba(240, 128, 128, 0.534);
}

a:visited {
    color: coral;
}

a:active {
    color: coral;
}

#mygame {
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 10px 70px 10px 70px;
    width: 100%;
    right: 0;
    background-color: rgba(87, 4, 25, 0.836);
}

textarea#exampleTextArea {
    background: silver;
    border-color: red;
}

.btn {
    color: white;
    border-color:salmon
}

.btn:hover {
    color: black;
    background-color: cyan;
}

.hidden {
    display: none;
}

.center {
    font-family:'Courier New';
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container {
    margin-top: 50px;
    background-color: rgba(87, 4, 25, 0.199);
}

.col-md-6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.overlay-box {
    background: rgba(0, 0, 0.2, 0.7);
}

#rogue_wing_panel {
    background: transparent url("assets/roguewing.png");
}

#lancet_panel {
    background: transparent url("assets/lancet.png");
}

#bayestar_panel {
    background: transparent url("assets/bayestar.png");
}

#diffusion_panel {
    background: transparent url("assets/diffusion.png");
}